#H2{
  font-size: 30px;
  color: rgb(200,200,200);
  font-family: "Agu Display", serif;
  text-transform: uppercase;
  margin-bottom: 30px;
  
}

.Others {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-top: 20px;
}

.Profile_card {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
  margin-top: 20px;
  position: sticky;
  top: 30px;

  margin-top: 90px;
}

.Profile h1 {
  font-size: 50px;
  font-family: "Ysabeau SC", serif;
  border: solid;
  width:max-content;
  background: linear-gradient(135deg,rgb(174, 9, 36),purple);
  -webkit-background-clip: text;
  color: transparent;

}
#socials{
  display: flex;
  column-gap: 10px;
  
}
#socials i{
  font-size: 30px;
  color: rgb(150,150,150);
}



.prp {
  width: 230px;
  height: 230px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}



.prp_text {
  font-size: 13px;
  color: lightgray;
}

.prp_btn {
  padding: 10px 20px;
  width: max-content;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.925);
  background: linear-gradient(135deg,rgba(174, 9, 37, 0.649),rgba(128, 0, 128, 0.649));
  border: none;
  border-radius: 5px;
  font-size: 15px;
  text-transform: capitalize;
}

.About_card {

  padding: 10px 0px 10px 10px;
}

.About_card h2 {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: rgb(200,200,200);
  text-align: center;
  margin-bottom: 30px;
  font-family: "Agu Display", serif

}

.About_card p {
  font-size: 15px;
  line-height: 25px;
  margin-top: 10px;
  color: rgb(150,150,150);
  
}

.fa-angle-down,
.fa-angle-up {
  cursor: pointer;
  margin-left: 10px;
}



.skill_grid {
 display: grid;
 grid-template-columns: repeat(2,1fr);
 column-gap: 20px;
 row-gap: 20px;
}

.skill_card{
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 30px;
  padding: 20px;
  background-color: rgba(30, 30, 30, 0.477);
  border-radius: 5px;
}

.skill_card h3{
color: lightgray;  
margin-left: 10px;
}

.inner_card{
  display: flex;
  column-gap: 10px; 
  align-items: center;

}

.skill_imagCont{

  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  align-items: center;
}

.skill_imagCont img{
  width: 60px;
}

.skill_imagCont p{
  text-transform: capitalize;
  font-size: 13px;
}

.aboutSkills{
}

.aboutSkills ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.aboutSkills ul li{
  font-size: 13px;
  color: rgb(150,150,150);
  text-transform: capitalize;
}

.aboutSkills ul li span{
  font-size: 16px;
  margin-right: 10px;
}

.devicon-github-original{
  font-size:50px;
}

.Project_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: max-content;
  column-gap: 20px;
  row-gap: 20px;
}

.Project_card {
  background-color: rgba(30, 30, 30, 0.477);
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 30px 20px;
  border-radius: 5px;
}

.Project_card:hover{
  transform:scale(1.05);
  transition: ease-out 0.15s;
  cursor: pointer;
}


.Project_card h3{
  font-size: 20px;
  color:rgb(200,200,200);
  text-transform: capitalize;
  margin-left: 20px;
}

.Project_card img {
  width:100%;
  opacity:0.9;
  margin: 0px auto;
}



.project_cont {

  margin: 0px auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.Skills{
  width: 90%;
}

.Skills ul{
  list-style: none;
  display: flex;
  column-gap: 10px;
}
.Skills ul li{
  padding: 5px;
  background: linear-gradient(135deg,rgba(174, 9, 37, 0.259),rgba(128, 0, 128, 0.229));
  color: rgba(255, 255, 255, 0.886);
  font-size: 13px;
  border-radius: 3px;
  text-transform: capitalize;
}


.PrpC p{
  font-size: 14px;
  color: lightgray;
}

.Contact {
  padding: 10px 0px 10px 10px;

}



#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
  margin-top: 40px;
  position: relative;
  color: white;
}

#form span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100;
  position:relative;

  row-gap: 10px;
  text-align: left;
}

#form span input[type="text"] {
  padding: 10px 20px;
  width:100%;
  height: 50px;
  background-color: rgb(30, 30, 30);
  color:lightgray;
  letter-spacing: 1px;
  border: none;

}
#form span label{
  float: left;
  color: lightgrey;
  position: absolute;
  top:-30px;
  left:0;
}

#form span textarea {
  min-width: 100%;
  max-width: 80%;
  min-height: 200px;
  max-height: 200px;
  padding: 10px 20px;
  background-color: rgb(30, 30, 30);
  color: white;
  border: none;

}

#btn {
  padding: 10px 20px;
  width: max-content;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.925);
  background: linear-gradient(135deg,rgba(174, 9, 37, 0.649),rgba(128, 0, 128, 0.649));
  border: none;
  border-radius: 5px;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

@media(max-width:480px){
  #H2{
    font-size: 25px;
    text-align: center;
  }
  .About_card h2{
  
    justify-content: center;
  }
  .prp {
    width: 200px;
    height: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    margin:0px auto;  
    opacity: 0.9;
  }
  .Profile_card{
    margin-top: 0;
  }
  .Profile h1 {
    font-size: 35px;
    text-align: center;
    margin: 0px auto;
    font-weight: 500;
    font-family: "Ysabeau SC", sans-serif;
  }

  #socials{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    
  }
  .Profile_card {
    text-align: center;
  }

  .prp_btn {  
    margin: 0px auto;
  }

  .skill_grid{
    display: flex;
    flex-wrap: wrap;
  }
  #form span {
    width:100%;
    padding-right:10px;
  }
  #btn {
    width:90%;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.925);
    background: linear-gradient(135deg,rgba(174, 9, 37, 0.649),rgba(128, 0, 128, 0.649));
    border: none;
    border-radius: 5px;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
  
  .Project_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  .Project_card{
  
  }

  .PrpC p{
    font-size: 13px;
    color: lightgray;
  }
 
}